---
---

  @import "{{ site.theme }}";

  @import "normalize";
  @import "fonts";
  @import "rouge-base16-dark.scss";

body {
  padding:0px 0 20px 0px;
  margin: 0px;
  font:14px/1.5 "Hussar", "Hussar", "Hussar", "Hussar Bold", "Hussar";
  color:#f0e7d5;
  font-weight: normal;
  background: #252525;
  background-attachment: fixed !important;
  background: linear-gradient(#2a2a29, #1c1c1c);
}

h1, h2, h3, h4, h5, h6 {
  color:#3a3a3a;
  margin:0 0 10px;
  font-family:"Hussar", "Hussar", "Hussar", "Hussar Bold", "Hussar";
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1, h2, h3 {
  line-height:1.1;
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;

}

h1 {
  font-size:28px;
}

h2 {
  font-size: 24px;
}

h4, h5, h6 {
  color:#e8e8e8;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #b6b6b6;
}

a {
  color:#ffcc00;
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: #ffeb9b;
  }
}

a small {
  font-size:11px;
  color:#666;
  margin-top:-0.6em;
  display:block;
}

ul{
  list-style-image:url('../images/bullet.png');
}

strong {
  font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

.wrapper {
  max-width:100%;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left:3px solid #b8b8b8;
  margin:0.5%;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color:#efefef;
  font-size:13px;
  margin: 0 4px;
  padding: 4px 6px;
  border-radius: 2px;
}

pre {
  padding:8px 15px;
  background: #191919;
  border-radius: 2px;
  border:1px solid #121212;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  overflow: auto;
  overflow-y: hidden;

  code {
    color: #efefef;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
  color: #b6b6b6;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color:#F0E7D5;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}


#header {
  z-index: 100;
  left:0;
  top: 0px;
  height: 60px;
  width: 100%;
  position: fixed;
  background: #ffffff;
  border-bottom: 4px solid #ffffff;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);

  nav {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    background: #ffffff;
    margin: 6px auto;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        list-style: none;
        display: inline;
        color: white;
        line-height: 50px;
        text-shadow: 0px 1px 0px #ffffff;
        font-size: 14px;

        a {
          color: white;
          border: 1px solid #ffffff;
          background: linear-gradient(#ffffff, #ffffff);
          border-radius: 2px;
          box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);

          background-color: #ffffff;
          padding: 10px 12px;
          margin-top: 6px;
          line-height:14px;
          font-size:14px;
          display:inline-block;
          text-align:center;

          &:hover {
            background: linear-gradient(#ffffff, #ffffff);
            background-color: #ffffff;
            border: 1px solid #ffffff;
            box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
          }
        }

        &.fork {
          float: left;
          margin-left: 0px;
        }

        &.downloads {
          float: right;
          margin-left: 6px;
        }

        &.title {
          float: right;
          margin-right: 10px;
          font-size: 11px;
        }
      }
    }
  }
}

section {
  max-width:650px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;
  background-color: #fafafa;
  padding-left: 2%;

  #title {
    border: 0;
    outline: none;
    margin: 0 0 50px 0;
    padding: 0 0 5px 0;

    h1 {
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 40px;
      text-align: center;
      line-height: 36px;
    }

    p {
      color: #d7cfbe;
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
    }

    .credits {
      font-size: 11px;
      font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #696969;
      margin-top: -10px;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }

  }
}

@media print, screen and (max-width: 720px) {

  #title {
    .credits {
      display: block;
      width: 100%;
      line-height: 30px;
      text-align: center;

      .left {
        float: none;
        display: block;
      }

      .right {
        float: none;
        display: block;
      }
    }
  }
}

@media print, screen and (max-width: 480px) {

  #header {
    margin-top: -20px;
  }

  section {
    margin-top: 40px;
  }
  nav {
    display: none;
  }
}

// STYLING PREFERENCES for SITE
// mixin used as a template for buttons
@mixin button {
  width: auto;
  height: auto;
  border-radius: 10px;
  background-color: #21807c;
  border: 3px solid black;
  font-size: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: span 1;
  grid-row: span 1;

  // Creates smooth animation effect
  transition: all 0.5s;
}

/* define class for redifined button */
.button {
  @include button;
}

/* darkens the background color on hover to create a selecting effect */
.button:hover {
  background-color: #373737;
}

/* "row style" is flexible size and aligns pictures in center */
.row {
  align-items: center;
  display: flex;
}

/* "column style" is one-third of the width with padding */
.column {
  flex: 16.66%;
  padding: 3px;
}

// STYLING FOR CALCULATOR
/* class to create the calculator's container; uses CSS grid dsiplay to partition off buttons */
.calculator-container {
  width: 90vw; /* this width and height is specified for mobile devices by default */
  height: 80vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr); /* fr is a special unit; learn more here: https://css-tricks.com/introduction-fr-css-unit/  */
  grid-template-rows: 0.5fr repeat(4, 1fr);
  gap: 10px 10px;
}

@media (min-width: 600px) {
  .calculator-container {
    width: 40vw;
    height: 80vh;
  }
}

/* styling for the calculator number button */
.calculator-number {
  @extend .button;
}

/* styling for the calculator operation button */
.calculator-operation {
  @extend .button;
}

/* styling for the calculator clear button */
.calculator-clear {
  @extend .button;
  background-color: #e68b1c;
}

/* styling for the calculator equals button */
.calculator-equals {
  @extend .button;
  background-color: #e70f0f;
}

#header {
  z-index: 100;
  left: 0;
  top: 0px;
  height: 60px;
  width: 100%;
  position: static;
  background: rgb(255, 255, 255);
  border-bottom: 4px solid #ffffff;
  box-shadow: 0px 1px 3px #ffffff;

  nav {
    background: #ffffff;
    width: 100%;
    margin-left: 1%;

    ul {
      list-style-type: none;
      padding: 0;
      width: 100%;

      li {
        font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        list-style: none;
        display: inline;
        color: black;
        line-height: 50px;
        text-shadow: 0px 1px 0px #ffffff;
        font-size: 14px;

        a {
          color: black;
          border: 0px solid #ffffff;
          background: #e5e5e5;
          border-radius: 2px;
          padding: 10px 12px;
          margin-top: 6px;
          line-height: 14px;
          font-size: 14px;
          display: inline-block;
          text-align: center;

          &:hover {
            background: #e5e5e5;
            background-color: #e5e5e5;
            border: 1px solid #e5e5e5;
          }
        }

        &.fork {
          float: left;
          margin-left: 0px;
        }

        &.downloads {
          float: right;
          margin-left: 6px;
        }

        &.title {
          float: right;
          margin-right: 10px;
          font-size: 11px;
        }
      }
    }
  }
}